/* Main */

main {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.articulos-main {
    margin: 25px auto;
    padding: 25px 25px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon-truck{
    padding: 0px 25px 0px 25px;
}

.fa-truck{
    color: #39b54a;
    border: solid #39b54a;
    padding: 12px 10px;
    border-radius: 50%;
}

.articulos-main img {
    width: 80%;
}

.articulos-main p {
    padding: 15px;
    background-color: white;
}

.articulos-main:last-child {
    margin-bottom: 50px;
}

.img-banner img {
    width: 100%;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
}